.home {
  height: 60vh;
  background-image: url("../img/pexels-photo-1096947.jpeg");
  background-size: cover;
}

.head {
  padding-top: 20px;
  font-family: "Overpass";
  letter-spacing: 2px;
  margin: 0 0 0 5px;
  color: @head;
}
